<div class="flex justify-center items-center w-full mx-4">
  <div class="container max-w-sm w-full p-4">
    <div class="carddiv p-10 bg-white rounded-lg shadow-2xl">
      <div class="prod-img">
        <img [src]="product.imageUrl" class="w-full" />
      </div>
      <div class="prod-title">
        <p class="cardTitle uppercase text-gray-900 font-bold">
          {{ product.name }}
        </p>
        <p class="description uppercase text-sm text-gray-400">
          {{ product.description }}
        </p>
      </div>

      <div class="prod-info grid gap-10">
        <div></div>
        <div
          class="flex flex-col md:flex-row justify-between items-center text-gray-900"
        >
          <p class="font-bold text-xl">{{ product.price }} $</p>
          <button
            (click)="addToCart()"
            class="px-6 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-900 focus:outline-none"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
