<div class="container mx-auto px-4 lg:px-8 py-10">
  <h1 class="text-3xl font-bold mb-6">Checkout</h1>
  <div class="model flex justify-center">
    <div class="payment">
      <div class="receipt-box">
        <h3>Reciept Summary</h3>
        <table class="table">
          <tr>
            <td>120 x 2 nights</td>
            <td>240.00 USD</td>
          </tr>
          <tr>
            <td>Discount</td>
            <td>0 USD</td>
          </tr>
          <tr>
            <td>Subtotal</td>
            <td>240 USD</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>10 USD</td>
          </tr>
          <tfoot>
            <tr>
              <td>Sum</td>
              <td>$180</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="payment-info">
        <h3>Payment Info</h3>
        <form>
          <label>Name on Credit Card</label>
          <input type="text" name="firstname" value="Mickey" />

          <label>Credit Card Number</label>
          <input type="text" name="lastname" value="0000 1234 3141 3412" />

          <label>Address</label>
          <input
            type="text"
            name="firstname"
            value="Street no 2 Sowan Garden Islamabad"
          />
          <br /><br />
          <input class="btn" type="submit" value="Book Securly" />
        </form>
      </div>
    </div>
  </div>
</div>
