<div class="container mx-auto px-4 lg:px-8 py-10">
  <h1 class="text-3xl font-bold mb-6">Checkout</h1>
  <ng-container *ngFor="let item of cartItems$ | async">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <img
          class="w-full h-64 object-cover"
          [src]="item.item.images[0]"
          alt="Product Image"
        />
        <div class="p-4">
          <h2 class="text-lg font-bold mb-2">{{ item.item.title }}</h2>
          <p class="text-gray-700 text-base mb-2">
            {{ item.item.description }}
          </p>
          <p class="text-gray-700 text-base mb-2">{{ item.item.price }}</p>
          {{ getTotalPrice(item) }}
          <div class="flex items-center justify-between">
            <label class="text-gray-700 text-base mb-2">Quantity:</label>
            <input
              class="w-16 py-1 px-2 border border-gray-400 rounded-lg"
              type="number"
              [value]="item.quantity"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="mt-8 flex items-center justify-between">
    <div class="text-lg font-bold mb-2">Cart Summary</div>
    <div class="mb-4">
      <span class="font-bold">Total:</span>
      <span class="ml-2">{{ totalPrice | currency }}</span>
    </div>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
    >
      Place Order
    </button>
  </div>
</div>
